<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="logDirectory" value="D:/logs/Go.Ticket.User.API/"/>
	<extensions>
		<add assembly="Go.NELog.Logger"/>
	</extensions>
	<targets>
		<target xsi:type="File" name="file"
				layout="${longdate}|${callsite:fileName=True}|${uppercase:${level}}|${message}${exception:format=Message, Type, ShortType, ToString, Method, StackTrace}"
				fileName="${logDirectory}/${shortdate}_all.log"
				archiveFileName="${logDirectory}/all.{#}.zip"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveFiles="7"
				archiveDateFormat="yyyy-MM-dd"
				enableArchiveFileCompression="true" />

		<target xsi:type="File" name="errorfile"
				layout="${longdate}|${callsite:fileName=True}|${uppercase:${level}}|${message}${exception:format=Message, Type, ShortType, ToString, Method, StackTrace}"
				fileName="${logDirectory}/${shortdate}_err.log"
				archiveFileName="${logDirectory}/error.{#}.zip"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveFiles="7"
				archiveDateFormat="yyyy-MM-dd"
				enableArchiveFileCompression="true" />
		<target xsi:type="ELogger" name="nelogger"  ApiKey="WUy4v3zLJk6YC5G91Sm71tgA2ipve4bojoM2pxWm" ApiUrl="http://logapi.dzxz.com" />
	</targets>
	<rules>
		<logger name="*" level="Error" writeTo="errorfile" />
		<logger name="*" minlevel="Trace" writeTo="file" />
		<logger name="*" minlevel="Error" writeTo="nelogger" />
	</rules>
</nlog>