################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Lang.ToolAPI/bin/Debug/net6.0
/Lang.ToolBiz/bin/Debug/net6.0
/Lang.ToolBiz/obj
/Lang.ToolAPI/obj/Debug/net6.0
/Lang.ToolAPI/obj
/Lang.ToolAPI/bin/Release/net6.0
/Lang.ToolAPI/Properties/PublishProfiles
/Lang.ToolAPI/.config
/Lang.ToolBiz/bin/Release/net6.0
